.user{
    font-size: 18px;
    color: white;
    font-weight: 700;
    display: block;
}
.loginBlock{
    display: flex;
    gap:  0 20px;
    align-items: center;
    justify-content: end;
}
@media (max-width: 480px) {
    .loginBlock{
        gap:  0 10px;
    }
    .user{
        display: none;
    }
}